
{% extends 'base.html' %}
{% block title %}
   about
{% endblock %}
{% block content %}
<section class="about">

   <div class="row">

      <div class="image">
         <img src="{{ url_for('static', filename='images/about.svg') }}" alt="about">
      </div>

      <div class="content">
         <h3>why choose us?</h3>
         <p>We understand that every student has unique strengths and weaknesses. That's why we offer one-on-one tutoring sessions and personalized study plans to address specific academic goals and challenges.</p>
      </div>

   </div>

   <div class="box-container">

      <div class="box">
         <i class="fas fa-graduation-cap"></i>
         <div>
            <h3>30</h3>
            <p>online courses</p>
         </div>
      </div>

      <div class="box">
         <i class="fas fa-user-graduate"></i>
         <div>
            <h3>10</h3>
            <p>brilliant students</p>
         </div>
      </div>

      <div class="box">
         <i class="fas fa-chalkboard-user"></i>
         <div>
            <h3>30</h3>
            <p>expert tutors</p>
         </div>
      </div>



   </div>

</section> 

<section class="reviews">

   <h1 class="heading">student's reviews</h1>

   <div class="box-container">

      <div class="box">
         <p>Excellent teaching courses.</p>
         <div class="student">
            <img src="{{ url_for('static', filename='images/about.svg') }}" alt="">
            <div>
               <h3>Divya Sharma</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>Fills the learning gap.</p>
         <div class="student">
            <img src="{{ url_for('static', filename='images/student.jpg') }}" alt="">
            <div>
               <h3>Dilip Kulkarni</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      

   </div>

</section>

{% endblock %}



   
