
  {% extends 'base.html' %}
  {% block title %}
    Home
  {% endblock %}
  {% block content %}


  <section class="home-grid">

    <h1 class="heading">Choose a subject</h1>
 
    <div class="box-container">
 
       <div class="box">
          
          <a href="cCourse.html">C programming Language</a>
          <a href="dbmsCourse.html">Database Management System</a>
          <a href="dsaCourse.html">Data Structures and Application</a>
          <a href="oopCousre.html">Object oriented programming in JAVA</a>
          <a href="osCourse.html">Operating System</a>
       </div>
 
       
 
 </section>
  {% endblock %}
